*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,blue,rgb(46, 125, 215));
}

.app{
  width: 400px;
  height:500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.input-box input{
    flex:1;
    padding:8px;
}

.todo-list{
  margin-top:30px;
}
.todo-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    gap:5px;
    
}

.combtn{
  background-color: purple;
}

.addbtn{
  background-color: rgb(100, 169, 215);
  padding:12px;
  color:white;
  border:none;
  border-radius: 5px;
}

.delbtn,.editbtn,.combtn{
  color:white;
  border-radius: 5px;
  padding:5px;
  border:none;
}

.delbtn{
  background-color: red;
}

.editbtn{
  background-color: green;
}

.btns{
  display:flex;
  gap:5px;
}